body {
    font-family: Arial, sans-serif;
}

.contact-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.contact-link {
    margin: 0 15px;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.contact-icon {
    width: 40px; /* Ubah ukuran sesuai kebutuhan */
    height: 40px; /* Ubah ukuran sesuai kebutuhan */
    margin-bottom: 8px;
    display: block;
    border-radius: 50%; /* Jika ikon ingin berbentuk bulat */
}
